 @media (prefers-color-scheme: dark) {
    body {
        background-color: #211f25;
    }
 }

@media (prefers-color-scheme: light) {
    body {
        background-color: #f2edf6;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Default style (light theme) */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF7FF; /* backgroundLight */
  z-index: 9999;
}

@media (prefers-color-scheme: light) {
  #loading {
    background-color: #f2edf6;
  }
}

@media (prefers-color-scheme: dark) {
  #loading {
    background-color: #211f25;
  }
}

.spinner {
  border: 4px solid #6C538C;  /* primaryLight */
  border-top: 4px solid #EDDCFF;  /* primaryContainerLight */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#warning {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 830px;
    z-index: 100;
    background-color: white;
    font-size: initial;
    display: none;
}

#warning li {
    padding-bottom: 15px;
}

#warning span.code {
    font-family: monospace;
}